# Python
__pycache__/
*.py[cod]

# Virtual environments
env/
.env
*.env

# IDEs and editors
.vscode/
.idea/
*.iml

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

*.jwt